.header{
    width: 100%;
    margin: 0;
    height: 80px;
}
.Note{
    color: black;
    font-size: medium;
}
.Footer{
    background-color: grey;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 0px;
    line-height: 3;
    letter-spacing: 5px;
}
Canvas{
    border-style: solid;
}